# ignore .git and .cache folders
.git
.cache

# ignore .DS_Store files
.DS_Store

# ignore local build files
build
out

# ignore local node_modules
node_modules


# ignore husky
.husky

# ignore nextjs files
.next
